.card{
    margin-left: 40px;
    margin-top: 30px;
}


body {
    background-color: #004865;
}

.container {
    background-color: #004865;
    padding: 20px;
}

.card {
    background-color: #dcdcdc;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.toptext{
    color: white;
    margin-top: 20px;
    margin-bottom: -40px;
    font-size: 30px;
}


@media (max-width: 768px) {
            .col-4 {
                flex: 0 0 100%;
                max-width: 100%;
                margin-left: 0;
                /* Remove left margin on mobile */
                margin-top: 20px;
                /* Adjust top margin as needed */
            }

            .card {
                width: 100% !important;
                /* Ensure card takes full width */
                margin-left: 0;
                /* Remove any additional margin */
            }
        }




